<!-- EJS Template for CIS 371 Semester Project, Anderson Yeakey -->
<!-- Individual Building Page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= building.name %></title>

        <link rel="stylesheet" href="gvsu-building-general.css">
    </head>

    <body>
        <div class="pageContainer">
            <div class="headerContainer">
                <header><%= building.name %></header>
            </div>

            <div class="coverPhotoContainer">
                
            </div>

            <div class="descriptionContainer">

            </div>

            <div class="infoContainer">

            </div>

            <div class="navBarContainer">

            </div>
        </div>
    </body>
</html>
