<!-- EJS Template for CIS 371 Semester Project, Anderson Yeakey -->
<!-- Home / Navigation Page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= campus %> Campus</title>

        <link rel="stylesheet" href="gvsu-building-general.css">
    </head>

    <body class="pageContainer">
        <div class="headerContainer">
            <header>The Buildings of <%= campus %> Campus</header>
        </div>
    </body>
</html>
