<!-- EJS Template for CIS 371 Semester Project, Anderson Yeakey -->
<!-- Home / Navigation Page -->

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Buildings of GVSU</title>

        <link rel="stylesheet" href="gvsu-building-general.css">
        <script></script><!--Refresh Function JS File-->
    </head>

    <body class="pageContainer">
        <div class="headerContainer">
            <header>The Buildings of Grand Valley State University</header>
        </div>

        <div class="campusContainer">
            <div class="imgLinkContainer">
                <a href="campus/Allendale">
                    <p> Allendale </p>
                    <img src="https://www.gvsu.edu/cms4/asset/0DBA5D42-CF6E-47EE-189D48B651FB2947/header/EE7902ED-D7E2-0BD7-08F2B206A17BFD1E/1280[1616596384].jpg" alt="Photo of GVSU Allendale Campus">
                </a>
            </div>

            <div class="imgLinkContainer">
                <a href="campus/Pew">
                    <p> Pew </p>
                    <img src="https://www.gvsu.edu/cms4/asset/83D77566-0FCE-1482-0E85CB93ACE30B91/header/A38D5D32-BAF1-D707-487E0DDC841DCBCF/1280.jpg" alt="Photo of GVSU Pew Campus">
                </a>
            </div>

            <div class="imgLinkContainer">
                <a href="campus/Health">
                    <p> Health </p>
                    <img src="https://www.gvsu.edu/cms4/asset/EB4AF3AC-0E4D-50C7-8BDD5FEF47228BAE/header/F3BF597D-E6F4-5A12-EF454C9F598AD7A2/1280[1664818711].jpg" alt="Photo of GVSU Allendale Campus">
                </a>
            </div>
        </div>

        <div class="pageLinkContainer">
            <ol>
                <% buildings.forEach((building) => { %>
                    <li><a href="<%= building.name %>"><%= building.name %></a></li>
                <% }) %>
            </ol>
        </div>
    </body>
</html>
